<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error en el sistema</title>
    <link rel="stylesheet" href="../src/css/styleInicio2.css"> <!-- Asegúrate de enlazar tu hoja de estilos original -->
</head>
<body>

<div class="container__background-circule">
    
</div>

<header>
    <div class="logo">
        <img src="../src/img/logoucla.png" alt="Logo">
        <h1>Jubilación UCLA</h1>
    </div>
</header>

<main>
    <div class="container">
        <h1>¡Ups! Algo salió mal</h1>
        <p>Ocurrió un error inesperado. Intenta recargar la página o volver al inicio.</p>
        <div class="botones-inicio ">
            <a class="boton-iniciar-sesion-main" style="color: aliceblue; " href="?controlador=inicio&metodo=inicio">Volver al inicio</a>
            <a class="boton-informacion-main" style="color: #052c53; " href="mailto:soporte@ucla.ve">Contactar soporte</a>
        </div>
    </div>
    <div class="container-img" style="max-width: 500px ">
        <img src="../src/img/error2.png" alt="Ilustración de error">
    </div>
</main>

<footer>
    &copy; Universidad Centroccidental Lisandro Alvarado Todos los derechos reservados
</footer>

</body>
</html>
